/* Colors */
:root {
    //Primary
    --color-red: hsl(0, 100%, 74%); 
    --color-green: hsl(154, 59%, 51%);

    //Accent
    
    --color-blue: hsl(248, 32%, 49%);
    --color-light-red: hsl(0, 43%, 1%);

    //Neutral
    --color-dark-blue: hsl(249, 10%, 26%) ;
    --color-greyish-blue: hsl(246, 25%, 77%);
    --color-white: hsla(360, 100%, 100%, 1);
  }